<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Ranking</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each deporte}}
        <tr>
            <td>{{Nombre}}</td>
            <td>{{Descripcion}}</td>
            <td>{{Ranking}}</td>
            <td><img src="{{Imagen}}" alt="{{Nombre}}" width="50" height="50"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
